/* Navbar.css */
.navbar-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: crimson;    
    color: white; /* Cambia el color del texto a blanco */
    text-decoration: none; /* Opcional: quita el subrayado del enlace */
}

.navbar-brand img {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

@media (max-width: 768px) {
    .navbar-toggle {
      position:absolute;
      z-index: 9999;
      left:0px;
    top:0px;
    }
  
    .navbar a.navbar-brand {
      display: block;
      margin: 0 auto 0 auto;
      width: 148px;
      height: 50px;
      float: none;
      background: url("../../../public/gastrostockLogoSinLetra.png") 0 center no-repeat;
    }
  
    .homepage-billboard .homepage-subtitle {
      font-size: 21px;
      line-height: 21px;
    }
  
    .navbar a.navbar-brand span {
      display: none;
    }
  
    .navbar {
      border-top-width: 0;
    }
  
    .xd-container {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  
    .index-page--subtitle {
      margin-top: 10px;
      margin-bottom: 30px;
    }
  
  }

  .navbar {
    border-top: 4px solid #6db33f;
    background-color: #34302d;
    margin-bottom: 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }
  
  .navbar a.navbar-brand {
    margin: 12px 0 6px;
    width: 229px;
    height: 46px;
    display: inline-block;
    text-decoration: none;
    padding: 0;
  }
  
  .navbar a.navbar-brand span {
    display: block;
    width: 229px;
    height: 46px;
    opacity: 0;
    -moz-transition: opacity 0.12s ease-in-out;
    -webkit-transition: opacity 0.12s ease-in-out;
    -o-transition: opacity 0.12s ease-in-out;
  }
  
  .navbar a:hover.navbar-brand span {
    opacity: 1;
  }
  
  .navbar li > a, .navbar-text {
    font-family: "montserratregular", sans-serif;
    text-shadow: none;
    font-size: 14px;
  
  /* line-height: 14px; */
    padding: 28px 20px;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
  }
  
  .navbar li > a {
    text-transform: uppercase;
  }
  
  .navbar .navbar-text {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar li:hover > a {
    color: #eeeeee;
    background-color: #6db33f;
  }
  
  .navbar-toggle {
    border-width: 0;
  
    .icon-bar + .icon-bar {
      margin-top: 3px;
    }
    .icon-bar {
      width: 19px;
      height: 3px;
    }
  
  }
  