.page-container {
    display: flex;              
    justify-content: center;     
    align-items: center;         
    height: 100vh;
    width: 100%;
    gap: 10%;
    background-image: url('/public/background-spices.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}


.app-logo {
    transform: scale(2);  /* Scales the image by 3 times */
    transform-origin: center;
  }

.content-img {
    width: 50vh;
    height: 50vh;
    background: rgba(234, 197, 197, 0.8);
    padding: 30px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    align-items: center; 
    display: flex;
    margin-left: 10%;
  }

  .content-container {
    background: rgba(234, 197, 197, 0.8); /* Fondo translúcido */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    height: 90%;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 30%;
    margin-left: -10%;
  }

  .content {
    background: rgba(234, 197, 197, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 20%;
    width: 80%;
  }

  .content-bottom {
    background: rgba(234, 197, 197, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 20%;
    width: 80%;
    margin-left: 5%;
  }

  .content-bottom {
    padding-top: 30px;
  }

  .contact-info {
    padding-top: 35%;
  }